.map-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#seatsContainer {
  margin: unset !important;
  object-fit: contain;
  cursor: grab;
}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.button-container button {
  margin: 5px 0;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
}

.button-container button:hover {
  background-color: #f1f1f1;
}

.button-container button:active {
  background-color: #ddd;
}
